{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel='stylesheet' href="{% static "styles/style.css" %}">
{% endblock styles %}

{% block main %}

<div class="outside">
    <div class="head">
        <h1>TO DO LIST</H1>
    </div>
    <hr>
    
    <div class="form">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{form}}
            <div class="submit_btn">
                <button type="submit" class="home_btn">
                    Create Task
                </button>
            </div>
        </form>
    </div>
    
    <hr>

    <div class="tasks">
        {% for tasks in Task %}
            <br>
            <div class="time">
                <h4>
                {{tasks.time}}
                </h4>
            </div>
            <br>
            <div class="outside_tasks">
                <div class="task">
                    {{tasks.Task|truncatewords:10|truncatechars:70}}
                </div>
                <div class="editing">
                    <a href="{% url "view" tasks.id %}"><button class="view">view</button></a>
                    <a href="{% url "deleting" tasks.id %}"><button class="deleted_btn">Done</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}
