*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    text-decoration: none;
}
body{
    background: rgb(2, 9, 36);
    color:antiquewhite;
    font-size: large;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.outside{
    max-width: 800px;
    margin: auto;
    background: transparent;
    backdrop-filter: blur(30px);
    border: 2px solid blueviolet;
    border-radius: 10px;
    margin-top: 10px;
}
.head{
    text-align: center;
    color:#fff;
}

.form{
    max-width: 50%;
    margin: auto;
    padding:20px;

}

.form input{
    width: 100%;
    padding:20px 5px;
    border-radius: 10px;
    border:none;
    outline: none;
    font-size: inherit;
    background: transparent;
    border: 2px solid aqua;
    color:#fff;
}

.submit_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.submit_btn button{
    border:2px solid #fff;
    outline:none;
    background: transparent;
    color:#fff;
    padding:5px 10px;
    border-radius: 10px;
    font-size: inherit;
    cursor: pointer;
    transition: 0.75s;
}

.submit_btn .home_btn:hover{
    color:aqua;
    transform: scale(1.2);
    border-color: aqua;
}

.tasks{
    padding:20px;
}

.tasks .outside_tasks{
    display: flex;
    padding:20px;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(500px);
    border:2px solid aqua;
    border-radius: 10px;
    cursor: pointer;
}


.editing button{
    background: transparent;
    padding:5px 10px;
    border:1px solid #fff;
    border-radius: 10px;
    transition: 0.75s;
    font-size: inherit;
    cursor: pointer;
    color:#fff;
    margin: 10px;
    width:70px;
    height: 50px;
}

.editing{
    flex-wrap: wrap;
}

.submit_btn .edited_btn:hover{
    transform: scale(1.2);
    color:gray;
    border-color: gray;
}

.submit_btn .edited_edit:hover{
    transform: scale(1.2);
    color:greenyellow;
    border-color: greenyellow;
}

.submit_btn .deleted_btn:hover{
    transform: scale(1.2);
    color:red;
    border-color: red;
}

.deleted_btn:hover{
    transform: scale(1.2);
    color:red;
    border-color: red;
}

.editing .view:hover{
    transform: scale(1.2);
    color:forestgreen;
    border-color: forestgreen;
}